*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    --red:rgb(242, 83, 83);
    --myfont:'Poppins', sans-serif;
}
#container
{
   overflow-x: hidden;
    width: 100%;
}
.nav
{
    width: 100%;
    height: 5rem;
    position: relative;
}
.nav-svg-div
{
    position: relative;
    top: -1px;
    height: auto;
    width: auto;
}

.navsvg
{

   width: auto;
   height: auto;
 position: absolute;
 top: 1px;
 size: 100% 100%;

}
.contact-details
{
    width: 27%;
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 15%;
    right: 13%;
    
}
.contact-details :hover
{
    cursor: pointer;
}
.call
{
    flex: 1;
    padding-right: 1rem;
}
.email{
    flex: 1;
}
.call a,.email
{
    text-decoration: none;
    color:white;
    display: flex;
    flex-direction: row;
 justify-content: center; 
 align-items: center;
    font-size: .8rem;
    gap: .8rem;
    
}

.call a img,.email img{
    width: 1.6rem;
    height: 1.6rem;
}
.call-heading,.email-heading
{
    font-size:.9rem;
    font-weight: bold;
}
.time-webname
{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 18%;
    gap: .2rem;
    
}
.timing-detail
{
    display: flex;
    gap:2px;
}
.timing-detail img{
    width: 12px;
    height: 12px;

}
.website-name
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.timing-detail p
{
    font-size: .7rem;
}
.website-name p{
    color: var(--red);
    font-size: 2.8rem;
    font-family: 'Times New Roman', Times, serif;
}
.website-name img{
    width: 12rem;
    margin-top: -8px;
}
.nav-items
{

    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;

}
.nav-links
{
    display: flex;
    list-style-type:none ;
    gap: 2rem;
   
}
.nav-links li a
{
    text-decoration: none;
    color: black;
    font-size: .9rem;
    font-weight: 550;
}
.nav-links li a:hover{
    color: rgb(170, 213, 52);
}
.search-btn button 
{
   
    background-color: rgb(190, 224, 67);
    border-radius: 50%;
    border: none;
    height: 42px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-btn img{
    width: 25px;
    height: 25px;
}
.search-btn :hover{
    cursor: pointer;
    background-color: var(--red);
}
.menu-list
{
    position: relative;
}
#menu-checkbox
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
  
}
.responsive-menu-div
{
    display: none;
    position: absolute;
    right: -1rem;
    top: 4.1rem;
    background-color: var(--red);
    width: 100vw;
    height: 75vh;
    
}
.responsive-menu-div ul{
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.responsive-menu-div ul a{
    text-decoration: none;
    color: white;

}
.l1:hover
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  rgb(190, 224, 67);
    width: 100%;
    height: 3rem;
}
#menu-checkbox:checked+.responsive-menu-div
{
    display: block;
    transition: all 5s ;
   
}

.humburger:hover
{
    background-color: none;
}
.hero-section
{
    width: 100%;
    display: flex;
    margin-top:5rem;
    background-color: rgb(245, 241, 241);
    
    justify-content: center;
    align-items: center;
}
.couple
{
    
    width: 50%;
}
.hero-text 
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    
}
.h-first-text
{
    font-family:  cormorant;
    font-weight: 700;
    font-size: 2.5rem;
    max-width: 30rem;
    letter-spacing: -2px;
    line-height: 2.8rem;
    text-align: center;
}
.h-second-text
{
    font-size: .9rem;
    max-width: 25rem;
    font-weight: 600;
    word-spacing: 1px;
    line-height: 1.2rem;
    color: rgb(90, 90, 90);
    padding-bottom: 1rem;
}
.hero-button
{
    display: flex;
    gap: 2rem;

}
.hero-button button
{
    padding: 8px 30px;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
}
.h-first-button
{
    background-color: var(--red);
    color: white;
}
.h-first-button:hover{
    box-shadow: 0px 0px 6px rgb(242, 83, 83);
}
.h-second-button
{
    background-color: rgb(194, 230, 65);
}
.h-second-button:hover{
    box-shadow: 0px 0px 8px rgb(194, 230, 65);
}
.about-image-text
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#about
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-image
{
    width: 50%;
    padding-bottom: 5rem;
}
.about-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
    gap: 2.5rem;
}
.about1,.about2,.about3
{
    border: 2px solid var(--red);
    max-width: 60%;
    border-radius: 8px;
    padding: .9rem;
    font-size: .8rem;
    line-height: 1.1rem;
}
.about-subhead
{
    font-size: .9rem;
    font-weight: 600;
    
}
.about-main-heading
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.about-main-heading p{
    max-width: 35rem;
    font-size: .8rem;
    font-weight: 500;
    line-height: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}
.about-main-heading img{

    width: 5rem;
}
.about-main-heading h2{
    font-size: 2rem;
    font-weight: 800;
    font-family: cormorant;
}
.about-text >p{
   
    font-size: .7rem;
    max-width: 22rem;
    line-height: 1.1rem;
    word-spacing: 1px;
    font-weight: 500;
    
}

#services
{
    width: 100%;
    background-color: rgb(249, 249, 2249);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-heading
{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service-heading h2
{
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.service-heading img{
    width: 5rem;
    padding-top: .5rem;
    padding-bottom:1.5rem ;
}
.service-heading p{
    max-width: 35rem;
   font-size: .8rem;
   font-weight: 500;
   line-height: 1.3rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
   text-align: center;
}
.service-items img
{
    width: 16rem;
}
.service-items div
{
    background-color: rgb(25, 24, 24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:background-color .10s linear;
}
.service-items div:hover
{
    background-color: var(--red);
}
.service-items p{
    color: white;
    font-size: .9rem;
    padding: .5rem 0;
}
.service-items
{
    padding-top: 3rem;
    width: 100%;
   display: flex;
   gap: 1rem;
   flex-wrap:wrap ;
    padding-bottom: 6rem;
   justify-content: center;
}
.service-items div{
    transition:all .15s linear ;
}
.service-items div:hover
{
    transform: scale(1.1);
}
.member-section
{
    width: 100%;
}
.member-heading
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding-top: 5rem;
}
.member-heading img
{
    width: 5rem;
    padding-top: .5rem;
}
.member-heading p{
    max-width: 35rem;
   font-size: .8rem;
   font-weight: 500;
   line-height: 1.3rem;
   padding-top: 2rem;
   padding-bottom: 3rem;
    text-align: center;
}
.member-heading h2{
    text-align: center;
}
.member-social-media
{
    border: 2px solid var(--red);
    display: inline-block;
    padding: .6rem .7rem;
    font-size: .8rem;
   
    margin:0 50%;
}
.member-name
{
    font-weight: 600;
    font-size: .9rem;
}
.member-position 
{
    color: var(--red);
    font-size: .6rem;
    font-weight: 500;
}
.social-media-link
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    padding-top: .4rem;

}
.social-media-link a img:hover
{
    color: var(--red);
    
}
.social-media-link a img
{
    width: 1rem;
   
}
.member-image
{
  padding-top: 2rem;
    width: 60%;
    margin: auto;
}
.member-image img
{
    width: 100%;
}
.facebook,.twitter,.gmail
{
    transform: scale(1.2);
}
.gmail,.twitter
{
    padding-top: .3rem;
}
#Gallery
{
    width: 100%;
    margin-top: -6px;
    background-image: url(image_resource/heart-background.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-bottom: 5rem;
}
.slider
{
    height: 40px;
    width: 60%;
    margin: auto;
    border-radius:20px;
    box-shadow: 0px 0px 6px rgb(242, 83, 83);

}
.gallery-radio-button
{
    display: none;
}
.form1-gallery
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1.3rem;
}
 #all:checked +.gallery-radio-lable1
 {
    height: 100%;
    padding-top: .4rem;
    width: 5rem;
    text-align: center;
    border-radius: 20px;
    background-color: var(--red);
    color: white;
    
}
#plan:checked +.gallery-radio-lable2
 {
    height: 100%;
    padding-top: .4rem;
    padding: 10px 5px;
    text-align: center;
    border-radius: 20px;
    background-color: var(--red);
    color: white;
}
#catering:checked +.gallery-radio-lable3
 {
    /* border: 1px solid black; */
    height: 100%;
    padding-top: .4rem;
    width: 8rem;
    text-align: center;
    border-radius: 20px;
    background-color: var(--red);
    color: white;
}
#decoration:checked +.gallery-radio-lable4
 {
    /* border: 1px solid black; */
    height: 100%;
    padding-top: .4rem;
    width: 10rem;
    text-align: center;
    border-radius: 20px;
    background-color: var(--red);
    color: white;
}
#photography:checked +.gallery-radio-lable5
 {
    height: 100%;
    padding-top: .4rem;
    width: 10rem;
    text-align: center;
    border-radius: 20px;
    background-color: var(--red);
    color: white;
}
.image-pool
{
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
    padding-bottom: 5rem;
}

.image-pool img{
    width:15.95rem;
    transition: all .10s linear;
}
.image-pool img:hover
{
    transform: scale(1.05);
}
.work-image
{

    width: 13rem;
}
.work-image3
{
    width: 14rem;
}
.stats-images
{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.stats-no
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: 600;
}
.stats-type
{
    font-size: .8rem;
    color: var(--red);
    font-weight: 500;
}
.stats-img-div{
    position: relative;
}
.data
{
 position: absolute;
 top: 7.5rem;
 left:3.8rem;
}
.stats-no
{
    text-align: center;
}
.client-section
{
    background-color: rgb(247, 247, 247);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 5rem;
    justify-content: center;
    align-items: center;
    
}
.card-container
{

    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 5rem;
    justify-content: center;
    align-items: center;
}
.card
{
    display: flex;
    border-radius:1rem;
    width:60%;
    height:12rem;

}

.card1
{
    align-self: self-start;
    
}
.card2
{
    align-self: self-end;
    
}
.card3
{
    align-self: self-start;
    
}
.client-img
{
    width: 50%;
    height:100%;
}
.client-img img{
    border-radius:1rem 0 0 1rem ;
  object-fit:cover;
height: 100%;
width: 100%;
}
.client-desc
{

   background-color: white;
   height: 100%;
    width: 50%;
    font-size: 70%;
    padding: 1rem;
    color: rgb(127, 126, 126);
   border-top-right-radius: 1rem;
   border-bottom-right-radius: 1rem;
    box-shadow: 0px 0px 6px rgb(242, 83, 83);
    transition: all .10s linear;
    flex: 1;
    overflow-y: scroll;
}
.client-desc:hover
{
    transform: scale(1.02);
}
.client-desc button
{
    background-color: var(--red);
    color: white;
    border: none;
    padding: .4rem .6rem;
    align-self:flex-end ;
    border-radius: .2rem;
    cursor: pointer;
    width: 50%;
}
.client-desc button:hover
{
    box-shadow: 0px 0px 6px rgb(242, 83, 83);
}

.connect-section
{
    padding-bottom: 5rem;
}
.connect-detail
{
    width: 60%;
    margin: auto;
  margin-top: 5rem;
    display: flex;
    position: relative;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 6px rgb(242, 83, 83);
    background-color: rgb(247, 247, 247);
}
.connect-detail img
{
    width: 38%;
    position: absolute;
    bottom: 0;
    left: -1.8rem;
}
.form-div{
    width: 68%;
    margin-left:auto;
    padding-left: 1rem;
}
.text-fields
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    padding:1rem 0;
}
.connect-textarea
{
    width: 100%;
    border:1.2px solid rgb(155, 154, 154);
    border-radius: 5px;
   resize: none;
}
#first-name
{
    flex: 1;
    padding: .5rem .2rem;
    border:1.2px solid rgb(155, 154, 154);
    border-radius: 5px;
}
#last-name
{
    flex: 1;
    padding: .5rem .2rem;
    border:1.2px solid rgb(155, 154, 154);
    border-radius: 5px;
}
#tel
{
    flex: 1;
    padding: .5rem .2rem;
    border:1.2px solid rgb(155, 154, 154);
    border-radius: 5px;
}
#email
{
    flex: 1;
    padding: .5rem .2rem;
    border:1.2px solid rgb(155, 154, 154);
    border-radius: 5px;
}
.message-btn
{
    padding: .5rem 1.5rem;
    color: white;
    background-color: var(--red);
    border: none;
    border-radius: 5px;
    float: right;
    margin-top: 1rem;
    transition:box-shadow .10s linear ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.message-btn:hover{
   
    box-shadow: 0px 0px 6px rgb(242, 83, 83);
}
#first-name:focus
{
    outline-color:var(--red);

}
#last-name:focus
{
    outline-color:var(--red);

}
#tel:focus
{
    outline-color:var(--red);

}
#email:focus
{
    outline-color:var(--red);

}
.connect-textarea:focus
{
    outline-color:var(--red); 
}
.footer-section
{
    padding: 5rem 0;
    background-color: rgb(247, 247, 247);
}
.footer-content-container
{
    width: 50%;
    margin: auto;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    align-items: first baseline;
    
}
.foot1,.foot2,.foot3,.foot4
{
    flex:1;
}
.foot1
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .4rem;
}
.foot-website-name
{
    color: var(--red);
    font-size: 2.2rem;
    font-family: 'Times New Roman', Times, serif;
}
.foot-about-title{
    font-weight: 500;
    margin-bottom: -8px;
}

.mini-div
{
    width: 6px;
    height: 7px;
    background-color: var(--red);
    display: inline-block;
}
.big-div{
    width: 2.5rem;
    height: 2px;
    background-color: var(--red);
    display: inline-block;
    margin-left: -5px;
    margin-bottom: 2.8px;
}
.foot1 img
{
width: 10rem;
margin-top: -.5rem;
}
.foot1-text
{
    font-size: .6rem;
    word-spacing: .15rem;
    padding-bottom: 1rem;
}
.foot2-items
{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.foot2-item1{
    display: flex;
    gap: .4rem;
}
 .foot2-item1 img{
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
 }
 .foot2-post-text
 {
    font-size: .65rem;
    line-height: 1rem;
 }
 .foot2-post-date
 {
    color: var(--red);
    font-size: .6rem;
 }
 .foot2-text
 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
 .foot3-links
 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0 0 0;
    font-size: .8rem;
 }
 .foot3-links a{
    text-decoration: none;
    color: black;
 }
 .footer-gallery-grid
 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
 }
 .footer-gallery-grid img{
    width: 5.5rem;
    height: 4rem;
 }
 .rights
 {
    background-color: var(--red);
    font-size: .7rem;
    padding: .8rem 0;
    text-align: center;  
 }
 .rights span
 {
    color: white;
 }
 .foot4-links
 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
 }
 
 .foot4-1 a{
    font-size: .7rem;
    display: flex;
    gap: .5rem;
    text-decoration: none;
    color: black;
 }
 .foot4-1 img
 {
    width: .8rem;
 }
 .foot4-social-links img
 {
   fill: var(--red);
 }
 .foot4-social-links
 {
    padding-top: 2rem;
    display: flex;
    gap: 2rem;
 }
 .icons svg:hover
 {
    fill: var(--red);
 }
 .humburger-search
 {
    display: flex;
    gap: 1.2rem;
  
 }
 .humburger
 {
    display: none;
 }
 /* Mobiles */
 @media (max-width:1160px) 
 {
    .nav-links
    {
        display: none;
    }
    .humburger
    {
        display: block;
        background: none;
    }
  
 }
 @media (min-width:1160px) {
    .responsive-menu-div
    {
        display: none;
    }
    .menu-checkbox:disabled
    {
        
    }
 }
 @media (max-width:840px) {
    .time-webname{
        left: 6rem;
    }
 
    .slider
    {
        width: 90%;
    }
 }
 @media (max-width:675px) {
    .time-webname{
        left: 3rem;
    }
   
    .about1,.about2,.about3
    {
        max-width: 90%;
    }
 }
 @media (max-width:550px) {
    .card
    {
        
        flex-direction: column;
        height: 25rem;
        width: 80%;
    }
    .client-img
    {
        width: 100%;
      height: 50%;

    }
    .client-img img {
        width: 100%;
        object-fit: cover;
        border-top-right-radius: 1rem; 
        border-bottom-left-radius: 0px;
    };
   
    .nav-items
    {
        padding-top: 1.5rem;
    }
    .time-webname{
        left: .5rem;
        top: 1rem;
       width: 12rem;
       
    }
    .timing-detail p
    {
        font-size: .6rem;
    }
    .website-name p
    {
        font-size: 2rem;
    }
    .website-name img
    {
        width: 10rem;
    }
   
    .humburger-search
    {
        margin-top: -1rem;
    }
    .hero-section
    {
        margin-top: 3.5rem;
    }
    .form1-gallery
    {
        gap: .2;
    }
    .gallery-radio-lable1,.gallery-radio-lable2,
    .gallery-radio-lable3,.gallery-radio-lable4,
    .gallery-radio-lable5
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .7rem;
        padding-bottom: .2rem;
    }
 }
 @media (max-width:730px) {
    .hero-section
    {
        flex-direction: column;
        gap: 1.5rem;
    }
    .couple
    {
        width: 100%;
    }
    .hero-text
    {
        width: 100%;
       text-align: center;
       padding-bottom: .7rem;
    }
    .card{
        width: 85%;
    }
 }
 @media (max-width:1070px) {
    .about-image
    {
        height: 536px;
    }
    
 }
 @media (max-width:975px) {
    .about-image-text
    {
        flex-direction: column;
        width: 80%;
    }
    .about-image 
    {
        height: 15%;
        width: 100%;
    }
    .contact-details
    {
       display: none;
    }
 }
 @media (max-width:594px) {
  
    .form-div{
        width: 100%;
        padding: 0;
        margin: auto;
    }
  .connect-detail img
    {
        display: none;
    }
    .form-div button{
        width: 100%;
    }
    .time-webname
    {
        margin-left: .5rem;
    }

    .website-name p
    {
        font-size:2.5rem ;
    }
    .website-name img {
        width: 90%;
    };
    
 }
@media (max-width:498px) {
    .nav-items
    {
        padding-top: 3.5rem;
    }
    .form1-gallery
    {
        gap: .4rem;
    }
    .slider
    {
        padding-left: .5rem;
        padding-right: .5rem;
    }
    .gallery-radio-lable1,.gallery-radio-lable2,
    .gallery-radio-lable3,.gallery-radio-lable4,
    .gallery-radio-lable5
    {
        padding: 10px 2px 10px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .6rem;
       
    }
    .website-name
    {
        padding-left:1rem;
    }
   .text-fields input
   {
    font-size:.5rem ;
    font-weight: 500;
   }
    .time-webname
    {
        margin-left: -.2rem;
    }
    .footer-content-container
    {
        width: 80%;
    }
}
@media (min-width:840px) {
    .navsvg
    {
      height: 5rem;
    }
}
@media (max-width:550px) {
    .client-desc
    {
        width:100%;
        height: 50%;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 1rem;
        
    }
}
@media (max-width:770px) {
    .card
    {
        align-self: center;
        padding: 0;
    }
    
}
@media (max-width:822px) {
    .responsive-menu-div
    {
        top: 175%;
    }
}
@media (max-width:730px) {
    .humburger-search
    {
        position: relative ;
        top: .5rem;
    }
    
}
@media (max-width:501px) {
    .humburger-search
    {
        position: relative ;
        top:-0.5rem;
    }
}